.content {

    display: flex;
    flex-direction: column;

}

.sec1 {

    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;

}

.pfp {

    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-left: 300px;


}

.startpage{

    display: flex;
    align-items: center;


}

.leftside{

    display: flex;
    flex-direction: column;


}

.navbar{


display: flex;
justify-content: center;
margin-left: 300px;
margin-right: 300px;
margin-top: 10px;
font-size: 18px;
background-color: transparent;
border-radius: 50px;
position: fixed;


}

.navbar ul{

    border: none;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    background-color: transparent;


}

.navbar div {

    border: none;
    background-color: transparent;


 

}

.AboutButton a{

    background-image: linear-gradient(to right, #3300ff, #009dff);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;


}

.Sec2 {


    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;


}

.box div{

    position: fixed;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgb(101, 193, 255);
    opacity: 70%;
}

.box div:nth-child(1){

    top: 80%;
    left: 30%;
    animation: animate 6s linear infinite;


}
.box div:nth-child(2){

    top: 20%;
    left: 15%;
    animation: animate 4s linear infinite;


}.box div:nth-child(3){

    top: 50%;
    left: 10%;
    animation: animate 6s linear infinite;


}.box div:nth-child(4){

    top: 70%;
    left: 90%;
    animation: animate 3s linear infinite;


}.box div:nth-child(5){

    top: 90%;
    left: 10%;
    animation: animate 10s linear infinite;


}.box div:nth-child(6){

    top: 50%;
    left: 42%;
    animation: animate 9s linear infinite;


}.box div:nth-child(7){

    top: 65%;
    left: 60%;
    animation: animate 5s linear infinite;


}.box div:nth-child(8){

    top: 98%;
    left: 60%;
    animation: animate 7s linear infinite;


}.box div:nth-child(9){

    top: 70%;
    left: 5%;
    animation: animate 3s linear infinite;


}.box div:nth-child(10){

    top: 80%;
    left: 78%;
    animation: animate 8s linear infinite;


}

@keyframes animate{

    0%{transform: scale(0) translateY(0) translateX(0) rotate(0);
    opacity: 1;
    border-color: #46daff;}
    100%{transform: scale(1.5) translateY(-90px) translateX(90px) rotate(360deg);
        opacity: 0;
        border-color: #1000bd;}

}

.sec2 {


    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;


}

.mywork {

    background-image: linear-gradient(to right, #3300ff, #009dff);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    align-content: center;
    justify-content: center;
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;



}

.footer {

    display: flex;
    align-content: center;
    justify-content: center;


}

.footer div {

    margin-left: 10px;
    margin-right: 10px;


}

.footer a {

    text-decoration: none;
    color: black;
    size: 50px;


}

.social {

    display: flex;
    justify-content: center;
    align-content: center;
    border: 6px solid rgb(0, 145, 255);
    padding: 30px;   
    padding-right: 80px; 
    border-radius: 20px;
    background-color:  rgb(0, 145, 255);

}